* {
    box-sizing: border-box;
    font-family: Arial;
}
body {
    margin: 0;
    background-color: #fff3bc;
}
header {
    display: flex;
    background-color: #098ea5;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    height: 250px;
    box-shadow: 0px 1px 4px #777;
    width: 90vw;
}
#text-apresentation {
    color: #FFF;
    margin: 30px;
}
#text-apresentation h1,
#text-apresentation h2 {
    margin: 0;
}
#text-apresentation a {
    text-decoration: none;
    color: #FFF;
}
#text-apresentation a:hover {
    text-decoration: underline;
}
#email {
    list-style-image: url(../icons/email-white.png);
}
#tel {
    list-style-image: url(../icons/phone-call.png);
}
#home-address {
    list-style-image: url(../icons/maps-and-flags.png);
}
#icons-header,
#footer-icons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
#icons-header a:hover,
#footer-icons a:hover {
    filter: brightness(90%);
}
img[alt^="foto"] {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 23% 100%);
    max-height: 100%;
    width: 400px;
    height: 400px;
    object-fit: cover;
}
#about-me {
    margin: auto;
    margin-bottom: 50px;
    width: 90vw;
    background-color: #FFF;
    box-shadow: 0px 1px 4px #777;
}
#about-me p {
    text-align: center;
    padding: 30px;
}
#buttons-section {
    border-top: 1px solid #DDD;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#buttons-section a {
    background-color: #098ea5;
    width: 150px;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}
#buttons-section a:hover {
    background-color: #077588;
}
#habilidades {
    margin: auto;
    width: 90vw;
}
#habilidades h3 {
    text-align: center;
}
#container-hab {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}
.hab-itens {
    width: 49%;
    background-color: #098ea5;
    color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 1px 4px #777;
}
.hab-itens a,
#footer a {
    text-decoration: none;
    color: #CCC;
}
.hab-itens a:hover,
#footer a:hover {
    color: #AAA;
}
.hab-itens h4,
.hab-itens p,
#footer p {
    padding: 5px 20px;
}
.hab-itens h4 {
    text-align: center;
}
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 90vw;
    background-color: #098ea5;
    margin: auto;
    margin-top: 50px;
    color: #FFF;
    box-shadow: 0px 1px 4px #777;
}
#footer-icons {
    padding-right: 20px;
}
@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
        height: 550px;
    }
    img[alt^="foto"] {
        /* clip-path: circle(50% at 50% 50%); */
        clip-path: none;
        border-radius: 50%;
        width: 300px;
    }
    .container-hab {
        flex-direction: column;
    }
    .hab-itens {
        width: 100%;
    }
    #icons-header {
        justify-content: center;
    }
}
@media screen and (max-width: 400px) {
    #footer {
        height: 150px;
    }
}